/*
Use CSS to add the following to your site.

XX-Padding and border added to at least one element
 - Around faux form

XX-Margin added to at least one element
 - box that contains "article"

XXAt least one centered element (a footer message can 
be nice for this)
 - Center article and form boxes

XX-A background image on at least one element
 - page

XX-A different font on at least one element
 - Google head/subhead fonts

A few elements styled using a class
 - resources UL

XXA different color for visited links
 - index and resources page

An element styled with an ID
 - Add in pull quote from a review
*/

body{
  background-image: url("https://c1.staticflickr.com/3/2935/13988748824_0d36dc9938_c.jpg");
  text-decoration-color: #eee;
}

.wrapper{
  width:100%;
}

#article{
  margin: 0 auto;
  max-width: 800px;
}

article{
  background:white;
  border:2px solid #eee;
  margin:40px;
  padding: 40px;

}

a{
  color:#8b8378;
}

a:visited{
  color:#458b74;
}

h1{
  font-family: 'Asar', serif;
  font-size: 2em;
}

h1,h2{
  font-family: 'Asar', serif;
  line-height: .5em;
}

p,ul,li{
  font-family: 'Open Sans',sans-serif;
  font-size: 0.9em;
  line-height: 2em;
}

#form{
  align-items: center; 
  background-color: white;
  border: 2px dashed #eee;
  font-family: 'Asar',serif;
  margin:0 auto;
  padding: 30px;
  max-width: 900px;
}

#figure{
  display:inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

#figure p{
  font-family: 'Open Sans',sans-serif;
  font-size: 0.7em;
  line-height: 0.5em;
}

#pingme h1, p{
  line-height: 2em;
  text-align: center;
}

