/*
Use CSS to add the following to your site.

XX-Padding and border added to at least one element
 - Around article and form

XX-Margin added to at least one element
 - Article 

XXAt least one centered element (a footer message can 
be nice for this)
 - Center article and form boxes

XX-A background image on at least one element
 - page

XX-A different font on at least one element
 - Google head/subhead fonts

XXA few elements styled using a class
 - P class highlight in article

XXA different color for visited links
 - a, a:visited formatting

XXAn element styled with an ID
 - Figure IDs
*/

body{
  background-image: url("https://c1.staticflickr.com/3/2935/13988748824_0d36dc9938_c.jpg");
  text-decoration-color: #eee;
}

.wrapper{
  width:100%;
}

#article{
  margin: 0 auto;
  max-width: 800px;
}

article{
  background:white;
  border:2px solid #eee;
  margin:40px;
  padding: 40px;

}

a{
  color:#8b8378;
}

a:visited{
  color:#458b74;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Asar', serif; 
}

h1{
  font-size: 2em;
  line-height: 0.5em;
}

h2{
  line-height: .5em;
}

p,ul,li{
  font-family: 'Open Sans',sans-serif;
  font-size: 0.9em;
  line-height: 2em;
}

#form{
  align-items: center; 
  background-color: white;
  border: 2px dashed #eee;
  font-family: 'Asar',serif;
  margin:0 auto;
  max-width: 900px;
  padding: 30px;
  text-align: center;
}

.figure{
  display:inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.figure p{
  font-family: 'Open Sans',sans-serif;
  font-size: 0.7em;
  line-height: 0.5em;
  text-align: left;
}

.figure img{
  width:100%;
}

#pingme h1{
  line-height: 2em;
  text-align: center;
}

#pingme p{
  line-height: 2em;
  text-align: center;
}

.highlight{
  font-size: 1.1em;
}
